---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./news/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const pr = (await Astro.glob("./pr/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_pr = pr.slice(0, 3);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script><div id="coinmarketcap-widget-marquee" coins="1,1027,1839,5426,2010,52,74,5994,3890,5805" currency="USD" theme="light" transparent="false" show-symbol-logo="true"></div>
  <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest News</div>
    </div>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5265597461872915"
     crossorigin="anonymous"></script>
          <div class="divider my-0"></div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }
<iframe data-aa='2153938' src='//ad.a-ads.com/2153938?size=320x50' style='width:320px; height:50px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>

   <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Press Releases</div>
    </div>
  
  <div class="divider my-0"></div>
  
  {
      last_pr.map((pr) => (
        <HorizontalCard
          title={pr.frontmatter.title}
          img={pr.frontmatter.heroImage}
          desc={pr.frontmatter.description}
          url={pr.url}
          badge={pr.badge}
          tag={pr.tag}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }    
 <iframe data-aa='2153938' src='//ad.a-ads.com/2153938?size=320x50' style='width:320px; height:50px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>

 </BaseLayout>
