---
const { title, img, desc, url, badge, tags, target = '_blank' } = Astro.props;
---

<div className="card w-96 bg-base-300 shadow-xl">
  <a href={url} target={target}>
  <div className="card-body items-center text-center">
      <img src={img} alt={title} class="max-w-fit md:max-w-[13rem] rounded-md" />
    <div className="card-title">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {tags && tags.map((tag) => <div class="badge badge-outline">{tag}</div>)}
        </div>
      </div>
    </div>
    </div>
  </div>
  </a>
</div>
